body {
  background-color: #000000;
}
h1 {
  color: black;
}
p {
  color: red;
}
.title {
	background-color: #d3dceb;
	padding: 20px;
}
.login {
	background-color: white;
	padding: 20px;
}

.signup {
	background-color: white;
	padding: 20px;
}

.footer {
	background-color: #d3dceb;
	padding: 20px;
}