body {
  background-color: #000000;
}
h1 {
  color: black;
}



/* Forms */
.login {
	background-color: "#94b39a";
	padding: 20px;
	height: 80%;
	text-align: center;
}
.login button{
	width: 100px;
}



/* Feed */

.post {
	background-color: black;
	height: 100px;
}


/* index */

.header {
	background-color: #d3dceb;
	padding-left: 20px;
	padding-bottom: 0px;
}
.content {
	background-color: grey;
	padding: 5px;
	text-align: center;
}

.footer {
	background-color: #d3dceb;
	padding: 20px;
}
.navigator button{
	width: 100px;
	border: none;
	background-color: aliceblue;
}
.navigator button:hover {
	background-color: #4CAF50;
	color: white;
  }