body {
  background-color: #23272A;
}
h1 {
  color: #97A9B4;
}



/* Forms */
.login {
	background-color: #2C2F33;
	padding: 20px;
	height: 80%;
	text-align: center;
}
.login button{
	width: 100px;
}



/* Feed */

.post {
	background-color: #2C2F33;
	height: 100px;
}


/* index */

.header {
	background-color: #2C2F33;
	padding-left: 20px;
	padding-bottom: 0px;
	
}
.content {
	background-color: #23272A;
	padding-top: 10px;
	text-align: center;
}

.footer {
	background-color: #2C2F33;
	padding: 20px;
}
.navigator button{
	width: 100px;
	border: none;
	background-color: #23272A;
}
.navigator button:hover {
	background-color: #2C2F33;
	color: white;
  }